loc and iloc 
--> to slice and dice the dataframe data

In [1]:
import pandas as pd

emp = {"name" : ['Raghav','Vishal','Anuya','Ritzi'], "gender" : ['male', 'male','female','female'], "email" : ['raghav@gmailcom', 'vishal@gmail.com','anuya@gmail.com', 'ritzi@gmail.com']}
df = pd.DataFrame(emp)
df

     name  gender             email
0  Raghav    male   raghav@gmailcom
1  Vishal    male  vishal@gmail.com
2   Anuya  female   anuya@gmail.com
3   Ritzi  female   ritzi@gmail.com

iloc
--> index location , slice & data based on index value of the dataframe

In [2]:
df.iloc[0]

name               Raghav
gender               male
email     raghav@gmailcom
Name: 0, dtype: object

In [5]:
df.iloc[2]

name                Anuya
gender             female
email     anuya@gmail.com
Name: 2, dtype: object

In [6]:
df.iloc[0:2]

     name gender             email
0  Raghav   male   raghav@gmailcom
1  Vishal   male  vishal@gmail.com

In [7]:
df.iloc[[1,3]]

     name  gender             email
1  Vishal    male  vishal@gmail.com
3   Ritzi  female   ritzi@gmail.com

In [8]:
df.iloc[[1,3],2]

1    vishal@gmail.com
3     ritzi@gmail.com
Name: email, dtype: object

In [9]:
df.iloc[[1,3],1:3]

   gender             email
1    male  vishal@gmail.com
3  female   ritzi@gmail.com

In [10]:
df.iloc[:,1:3]

   gender             email
0    male   raghav@gmailcom
1    male  vishal@gmail.com
2  female   anuya@gmail.com
3  female   ritzi@gmail.com

In [11]:
df

     name  gender             email
0  Raghav    male   raghav@gmailcom
1  Vishal    male  vishal@gmail.com
2   Anuya  female   anuya@gmail.com
3   Ritzi  female   ritzi@gmail.com

loc --> we pass the labels to slice & data

In [12]:
# label_value = 1
df.loc[1]

name                Vishal
gender                male
email     vishal@gmail.com
Name: 1, dtype: object

In [ ]:
df.set_index('name', inplace=True)

In [17]:
df

        gender             email
name
Raghav    male   raghav@gmailcom
Vishal    male  vishal@gmail.com
Anuya   female   anuya@gmail.com
Ritzi   female   ritzi@gmail.com

In [18]:
df.loc['Anuya']

gender             female
email     anuya@gmail.com
Name: Anuya, dtype: object

In [20]:
df.loc[:, 'email']

name
Raghav     raghav@gmailcom
Vishal    vishal@gmail.com
Anuya      anuya@gmail.com
Ritzi      ritzi@gmail.com
Name: email, dtype: object

In [22]:
df.loc['Raghav':'Anuya', 'email']

name
Raghav     raghav@gmailcom
Vishal    vishal@gmail.com
Anuya      anuya@gmail.com
Name: email, dtype: object

In [23]:
df.loc['Raghav':'Anuya', :]

        gender             email
name
Raghav    male   raghav@gmailcom
Vishal    male  vishal@gmail.com
Anuya   female   anuya@gmail.com

In [24]:
# filtered condition
fc = (df['gender'] == 'male')
fc

name
Raghav     True
Vishal     True
Anuya     False
Ritzi     False
Name: gender, dtype: bool

In [25]:
df.loc[fc]

       gender             email
name
Raghav   male   raghav@gmailcom
Vishal   male  vishal@gmail.com